.btnCustomized-container {
    min-width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color:transparent;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
  }
  
  .btnCustomized-icon {
    width: 22px;
    height: 22px;
    margin-left: 10px;
    object-fit: contain;
    /* background-color: aqua; */
    /* margin-right: 5px; */
  }
  
  .btnCustomized-label {
    font-family: "Medium";
    text-align: right;
    vertical-align: middle;
    margin-bottom: 2px;
    color: #121027;
    width: auto;
    -webkit-text-size-adjust: none;
    font-size: 13px;
    font-weight:100;
    /* background-color: aqua; */

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }