.programInnerSlide33-container {
    display: flex;
    width: 100%;
    overflow-y: auto;
    flex-wrap: nowrap;
    overflow-x: hidden;
    padding: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    column-gap: 15px;
}

.programInnerSlide33-innerContainer {
    display: flex;
    width: 100%;
    overflow-y: auto;
    flex-wrap: nowrap;
    overflow-x: hidden;
    padding: 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 15px;
}

.programInnerSlide33-title {
    font-family: "Medium";
    font-size: 16px;
    font-weight: 500;
    color: #121027;
    line-height: 22px;
    margin-bottom: 15px;
}

.programInnerSlide33-marginTop {
    margin-top: 15px;
}