
.programInner-mainContainer {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f8f9ff; */
    overflow: hidden;
}

.programInner-bodyContainer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.programInner-body {
    padding-top: 17px;
    /* overflow: auto; */
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.programInner-bodyInnerContair {
    /* margin-top: 17px; */
    width: 80%;
    /* height: 95%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 18px;
    /* border-top-right-radius: 18px;
    border-top-left-radius: 18px; */
    /* border-style: solid;
    border-color: rgba(210, 218, 226, .4);
    border-width: 1px; */

    margin-bottom: 25px;
    /* background-color: aqua; */
}


.programInner-header {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    /* margin-bottom: 21px; */
    background-color: white;
    z-index: 10;
    padding-bottom: 10px;
    /* border-width: 0;
    padding-bottom: 10px;
    border-bottom-width: 1px;
    border-color: #D2DAE266;
    border-style: solid; */

}

.programInner-separatorH {
    width: 102%;
    border-width: 0;
    /* border-bottom-width: 1px;
    border-color: #D2DAE266; */
    border-style: solid;
}

.programInner-stageSelectionContainer {
    display: flex;
    position: relative;
    margin: 15px;
    width: calc(100% - 24px);
    grid-row: auto;
    justify-content: space-between;
    align-items: center;
}

.programInner-stageSelectionLine {
    display: flex;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #7B68EE40;
}

.programInner-stageSelectionLineActive {
    display: flex;
    position: absolute;
    width: 15%;
    height: 4px;
    background-color: #7B68EE;
}

.programInner-label {
    font-family: "Medium";
    text-align: center;
    color: #121027;
    font-size: 12px;
    font-weight: 300;
    width: auto;
    -webkit-text-size-adjust: none;

    /* -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}



/* .programInner-label {
    font-size: 15px;
    font-weight: 500;
    width: auto;
} */

.programInner-headerContainer {
    width: 100%;
    height: auto;
}

.programInner-titleHeader {
    font-size: 14px;
    font-weight: 100;
    color: #121027;
    line-height: 21px;
}

.programInner-descriptionHeader {
    font-size: 12px;
    font-weight: 100;
    color: #121027;
    line-height: 21px;
}

.programInner-devider {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    /* background-color: brown; */
}

.programInner-RightPanel {
    display: flex;
    flex-direction: row;
    /* padding-top: 25px; */
    /* background-color: blanchedalmond; */
    justify-content: flex-start;
    align-items: center;
}

.programInner-LeftPanel {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    /* flex-direction: row; */
    /* padding-top: 25px; */
    /* background-color: blanchedalmond; */
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;
    /* width: 150px; */
}

.programInner-textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.programInner-programThumbBox {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    margin-left: 7px;
    position: relative;
}

.programInner-programThumbBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.programInner-programThumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    /* background-color:transparent; */
    position: absolute;
}

.programInner-bottomBar {
    display: flex;
    width: 82%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 10px;
}

.programInner-buttonContainer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.highlighter {
    .highlighted {
        /* background-color: rgba(255, 0, 0, .4); */
        background-color: rgba(255, 0, 0, 1);
        color: yellow;
        /* box-shadow: -3px 0 0 #ffeaa7, 3px 0 0 #ffeaa7; */
    }
    font-family: Medium;
    
}